{% include header.html %}
					<!-- Main -->
					<article id="main">
						<header>
							<h2>{{ page.title }}</h2>
							<p>{{ page.description }}</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<div class="12u">
									<span class="image fit">
										<img src="{{ site.baseurl }}/{{ page.header-image }}" alt="{{ page.alt-text }}" />
									</span>
								</div>

								  {{ content }}

							</div>
						</section>
						<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Be part of our story</h2>
								<p>Get in touch to arrange your next adventure.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="{{ site.baseurl }}/contact" class="button fit special">Contact us</a></li>
							</ul>
						</div>
					</section>
					</article>
  
{% include footer.html %}
