{% include header.html %}
					<!-- Main -->
					<article id="main">
						<header>
							<h2>{{ page.title }}</h2>
							<p>{{ page.description }}</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<div class="12u">
									<span class="image fit">
										<img src="{{ site.baseurl }}/{{ page.header-image }}" alt="{{ page.alt-text }}" />
									</span>
								</div>

								  {{ content }}

							</div>
						</section>
					</article>
  
{% include footer.html %}
